<!DOCTYPE html>
<html>
<head>
    <title>Predicción de Median Income</title>
</head>
<body>
    <h1>Ingrese los detalles para la predicción de Median Income</h1>
    <form action="/predict" method="post">
        <label for="latitud">Latitud:</label>
        <input type="text" id="latitud" name="latitud"><br><br>
        
        <label for="longitud">Longitud:</label>
        <input type="text" id="longitud" name="longitud"><br><br>
        
        <label for="num_cuartos">Número de Cuartos:</label>
        <input type="text" id="num_cuartos" name="num_cuartos"><br><br>
        
        <label for="num_habitaciones">Número de Habitaciones:</label>
        <input type="text" id="num_habitaciones" name="num_habitaciones"><br><br>
        
        <input type="submit" value="Predecir">
    </form>
</body>
</html>
